
@media (max-width:768px) {
  .container {
    flex-direction: column;
  }
}

@media all and (max-width:670px) {
  .header-list {
    display: none;

  }

  .menu-icon {
    display: block !important;
  }

  .career {
    max-width: 300px;
  }
}
