
* {
  box-sizing: border-box;

}

body {
  background-image: url(白　水色　シンプル　格言　フェミニン　エレガント　Instagram投稿.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}



header {
  background-color: rgba(34, 255, 0, 0.952);
  height: 65px;
  width: 100%;
  position:fixed;
  top:0px;
  z-index: 10;
}
.header-left a {
  float: left;
  line-height: 65px;

}
.header-right a {
  float: right;
}


.header-right {
  line-height: 65px;

}
.container {
  width:100%;
  margin:0 auto;


}

.profile-wrapper {


  /* width: 100%; */
  padding-top: 100px;

}
.profile {
  text-align: center;


}
.profile li{
  text-align: center;
  list-style: none;


}





.work h1 {
  text-align: center;
  padding-top: 10px;

}
.work  {
  text-align: center;
  padding-top: 100px;

}
.skill  {
  text-align: center;

}

footer {
  text-align: center;
}
